body{
    background-color: white;
}
#miniLogo{
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    filter: drop-shadow(3px 3px 4px #777);
}
hr{
    display:none;
}

#logo {
    display: block;
    font-family: Forum;
    font-weight: 200;
}

nav {
    border-bottom: solid 4px rgb(53, 118, 223);
}

.text-btn {
    color: rgb(53, 118, 223);
}
.header {
    font-size: 28px;
}
main{
    height:100%;
}
.stockPhoto {
    height: 200px;
    width: 300px;
    border-bottom: 4px solid rgb(53, 118, 223);
    filter: drop-shadow(3px 3px 4px #777);

}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: rgb(31, 31, 31);
}

input[type="text"]{
    width: 250px;
    text-align: center;
}

button[type="submit"]{
    width: 250px;
    height: 30px;
    border: none;
    background-color: rgb(53, 118, 223);
    color: white;
}
textarea{
    width: 250px;
    height: 150px;
}
p{
    width: auto;
}

@media screen and (min-width: 500px) {
    nav {
        border:none;
    }
    hr{
        display:block;
        border-bottom: solid 4px rgb(53, 118, 223);    
        width: 550px;
        max-width: 100%;
    }
    input[type="text"]{
        width: 450px;
    }
    textarea{
        width: 450px;
    }
    button[type="submit"]{
        width: 450px;
    }
    #gallery{
        max-width: 650px;
        margin: auto;
    }
    .stockPhoto {
        height: 350px;
        width: 90%;
    }
}

@media screen and (min-width: 1100px) {
    #logo{
        font-size: 80px;
        display:inline-block;
    }
    #miniLogo{
        width: 120px;
        display:inline-block;
        position: relative;
        top: -15px;
    }
    footer{
        position: relative;
    }

    .stockPhoto {
        height: 350px;
        width: 500px;
 
    }

    #intro {
        display: inline-block;
        position: relative;
        max-width: 40%;
        background-color: rgb(233, 233, 233);
        padding:20px 10px;
        border-bottom: solid 4px rgb(53, 118, 223); 
        height:350px; 
        width:500px;  
        vertical-align: top;
        filter: drop-shadow(3px 3px 4px #777);
    }
    #gallery{
        display: inline-block;
        min-width: 300px;
        max-width: 600px;
    }

    .workCollection{
        max-width: 80%;
        margin:auto;
    }
    textarea{
        width: 500px;
        height: 100px;
    }
    input[type="text"]{
        width: 500px;
    }
    button[type="submit"]{
        width: 500px;
    }
    #contactForm {
        background-color: rgb(230, 230, 230);
        display: inline-block;
        padding: 20px 80px 30px 80px;
        border-radius: 2%;
        filter: drop-shadow(3px 3px 4px #777);
    }
    hr{
        display:none;
    }
    .masthead{
        padding:30px;
    }

    hr{
        border-bottom: solid 2px rgb(53, 118, 223);
        width: 400px;
        display:block;
    }
    .headerNWP {
        margin-top:40px;
    }
}