body{
    background-color: white;
}
#miniLogo{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    width: 80px;
    filter: drop-shadow(3px 3px 4px #777);
}
hr{
    display:none;
}
.headerNWP{
    font-size: 28px;
}
#logo {
    display: block;
    font-family: Forum;
    font-weight: 200;
}

nav {
    border-bottom: solid 4px rgb(53, 118, 223);
}

.text-btn {
    color: rgb(53, 118, 223);
}

.stockPhoto {
    width: 100%;
    filter: drop-shadow(3px 3px 4px #777);
}

.photoBanner {
    filter: drop-shadow(3px 3px 4px #777);
    text-align: center;
    margin: auto;
    display: none;
}
.photoBanner > div > img {
    margin: 0 auto;
    display: block;
    float: left;
    clear: right;
    width: 100%
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: rgb(233, 233, 233);
    color: black;
}

input[type="text"]{
    width: 250px;
    text-align: center;
}

button[type="submit"]{
    width: 250px;
    height: 30px;
    border: none;
    background-color: rgb(53, 118, 223);
    color: white;
}
textarea{
    width: 250px;
    height: 150px;
}
p{
    width: auto;
}
li {
    font-weight: bold;
    font-style: italic;
}
.details {
    margin-top: 25px;
    list-style-type: none;
    padding-left: 0;
}
@media screen and (min-width: 500px) {

    nav {
        border:none;
    }
    hr{
        display:block;
        border-bottom: solid 4px rgb(53, 118, 223);    
        width: 550px;
        max-width: 100%;
    }
    input[type="text"]{
        width: 450px;
    }
    textarea{
        width: 450px;
    }
    button[type="submit"]{
        width: 450px;
    }
    .stockPhoto {
        height: 100%;
        width: 500px;
    }

    .photoBanner > div > img {
        margin: auto;
    }
    .img-wrapper {
        width: 50%;
        height: auto;
        overflow: hidden;      /* hide the overflow */
        float: left;
    }
    
    #intro {
        display: inline-block;
        position: relative;
        padding:20px 10px; 
        height:100%; 
        width:500px; 
        vertical-align: top;
    }

}

@media screen and (min-width: 1050px) {
    #logo{
        font-size: 80px;
        display:inline-block;
    }
    #miniLogo{
        width: 120px;
        position: relative;
        top: -15px;
    }
    footer{
        position: relative;
        bottom:-100%;
    }

    .stockPhoto {
        height: 310px;
        width: 500px;
        margin-left: -4px;
    }
    .photoBanner {
        position: relative;
        vertical-align: top;
        width: 500px;
        height: 250px;
        display: inline-block;
        overflow: hidden;
        border-bottom: solid 4px rgb(53, 118, 223);    
    }
    .photoBanner > div > img:hover {
        transform: scale(1.3);
    }

    h2{
        margin-bottom: 0;
    }

    #intro {
        background-color: rgb(233, 233, 233);
        padding:20px 10px;
        height:310px; 
        width:500px; 
        vertical-align: top;
        filter: drop-shadow(3px 3px 4px #777);
    }

    #skills {
        display: inline-block;
        position: relative;
        padding:20px 10px; 
        height:250px; 
        width:500px; 
        vertical-align: top;
        background-color: rgb(233, 233, 233);
        padding:20px 10px;
        border-bottom: solid 4px rgb(53, 118, 223); 
        vertical-align: top;
        filter: drop-shadow(3px 3px 4px #777);
        margin-left: -4px;
    }
    textarea{
        width: 500px;
        height: 100px;
    }
    input[type="text"]{
        width: 500px;
    }
    button[type="submit"]{
        width: 500px;
    }
    #contactForm {
        display: inline-block;
        padding: 0 80px 10px 80px;
    }
    hr{
        display:none;
    }
    .masthead{
        padding:30px;
    }

    hr{
        border-bottom: solid 2px rgb(53, 118, 223);
        width: 400px;
        display:block;
    }
    .headerNWP {
        margin-top:40px;
    }
}