body{
    background-color: rgb(255, 255, 255);
}
#miniLogo{
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    filter: drop-shadow(3px 3px 4px #888);
}
hr{
    display:none;
}

#logo {
    display: block;
    font-family: Forum;
    font-weight: 200;
}

nav {
    border-bottom: solid 4px rgb(53, 118, 223);
}

.text-btn {
    color: rgb(53, 118, 223);
}
.headerNWP {
    font-size: 28px;
}
main{
    height:100%;
}

.imgWork {
    height: 100px;
    width: 100px;
    display:inline-block;
    border: 1px solid rgb(53, 118, 223);
    margin: 2px 0;
}
.imgWork:hover {
    transform: scale(1.2);
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: rgb(240, 240, 240);
}

input[type="text"]{
    width: 250px;
    text-align: center;
}

button[type="submit"]{
    width: 250px;
    height: 30px;
    border: none;
    background-color: rgb(53, 118, 223);
    color: white;
}
textarea{
    width: 250px;
    height: 150px;
}
p{
    width: auto;
}

.watcher {
    display:none;
}
@media screen and (min-width: 500px) {
    nav {
        border:none;
    }
    hr{
        display:block;
    }
    input[type="text"]{
        width: 450px;
    }
    textarea{
        width: 450px;
    }
    button[type="submit"]{
        width: 450px;
    }
    #gallery{
        max-width: 650px;
        margin: auto;
    }
}

@media screen and (min-width: 1000px) {
    #logo{
        font-size: 80px;
        display:inline-block;
    }
    #miniLogo{
        width: 120px;
        display:inline-block;
        position: relative;
        top: -15px;
    }
    footer{
        position: relative;
    }
    .imgWork {
        height: 200px;
        width: 200px;
        display:inline-block;
        border: 3px solid rgb(53, 118, 223);
        margin: 3px 3px;
    }
    #gallery{
        max-width: 1050px;
    }

    .workCollection{
        max-width: 80%;
        margin:auto;
    }
    textarea{
        width: 500px;
        height: 100px;
    }
    input[type="text"]{
        width: 500px;
    }
    button[type="submit"]{
        width: 500px;
    }
    #contactForm {
        background-color: rgb(243, 243, 243);
        display: inline-block;
        padding: 20px 80px 30px 80px;
        border-radius: 2%;
    }
}