body{
    background-color: rgb(255, 255, 255);
}
#miniLogo{
    margin-left: auto;
    margin-right: auto;
    width: 80px;
}
hr{
    display:none;
}

#logo {
    display: block;
    font-family: Forum;
}

nav {
    border-bottom: solid 4px rgb(53, 118, 223);
}

.text-btn {
    color: rgb(53, 118, 223);
}
.headerNWP {
    font-size: 28px;
}
main{
    height:100%;
}
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

p{
    width: auto;
}

@media screen and (min-width: 500px) {
    nav {
        border:none;
    }
    hr{
        display:block;
    }
    
}

@media screen and (min-width: 1000px) {
    #logo{
        font-size: 80px;
        display:inline-block;
    }
    #miniLogo{
        width: 120px;
        display:inline-block;
        position: relative;
        top: -15px;
    }
    footer{
        position: absolute;
    }
}